.heart_shadow {
  stroke: #ccc;
  stroke-width: 3;
  fill: none;
}

.heart_fill {
  stroke: rgba(255, 40, 40);
  fill: none;
  stroke-width: 3;
  transition: stroke-dashoffset 0.5s ease-in-out;
  stroke-dasharray: 100;
}

.active {
  stroke-dashoffset: 0;
}

.inactive {
  stroke-dashoffset: 100;
}
