#home_header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  text-align: center;
  background-color: var(--background-color-light);
  box-shadow: 1px 5px 12px 4px rgba(0, 0, 0, 0.2);
  z-index: 5;
  svg {
    min-width: 30px;
    min-height: 30px;
    width: 1.5rem;
    height: 1.5rem;
  }

  > h1 {
    font-size: 0.95rem;
    margin: 5px 20px;
    max-width: 70%;
    font-weight: 400;
  }
}
