.download_icon_animated {
  pointer-events: none;
  line,
  polyline {
    transition: transform 0.3s ease-in-out;
    animation: arrowAnimation 1s forwards;
  }
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  33% {
    transform: translateY(20px); /* Полет вниз */
    opacity: 0; /* Исчезновение */
  }
  66% {
    transform: translateY(-20px); /* Полет вверх */
    opacity: 0; /* Исчезновение */
  }
  100% {
    transform: translateY(0); /* Возвращение на место */
    opacity: 1; /* Появление */
  }
}
