#home_header_container {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  text-align: center;
  svg {
    min-width: 30px;
    min-height: 30px;
    width: 1.5rem;
    height: 1.5rem;
  }

  p {
    font-size: 1rem;
    margin: 5px 20px;
    max-width: 70%;
    font-weight: 400;
  }
}
