#home_author_container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  display: flex;
  font-size: 0.9rem;
  font-weight: 400;
  gap: 5px;
  align-items: center;
  user-select: none;
  pointer-events: none;
  padding-right: 55px;
  svg {
    opacity: 0.6;
  }
}

@media (max-width: 450px) {
  #home_author_container {
    font-size: 0.85rem;
  }
}
