#home_author_container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  gap: 15px;
  align-items: center;
  user-select: none;

  img {
    width: 60px;
    height: 60px;
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    border: 1px solid black;
  }
}
