#home_footer_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color-light);

  svg {
    min-width: 30px;
    min-height: 30px;
    width: 2.25rem;
    height: 2.25rem;
    margin: 15px auto;
  }
}
