#home_footer_container {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  svg {
    min-width: 30px;
    min-height: 30px;
    width: 2.25rem;
    height: 2.25rem;
    margin: 15px auto;
  }
}
