#home_image_box_container {
  width: 100%;
  max-width: 800px;
  margin: 45px 30px 0 30px;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
