#home_image_box_container {
  position: relative;
  max-height: 500px;
  max-width: 500px;
  min-height: 350px;
  min-width: 350px;
  margin: 45px 30px 0 30px;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
